<nav id="mainNavbar">
  <div class="container c-inner">
    <button class="navbar-toggler" type="button" id="mainNavbarToggler" data-toggle="collapse" data-target="#mainNavbarContent" aria-controls="mainNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.php"><img src="{{ directory }}/images/parenting-club.png" alt=""><span class="sr-only">Parenting Club</span></a>
    <button id="searchToggleMobile" data-toggle="collapse" data-target="#mainNavbarContent" aria-controls="mainNavbarContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-search" aria-hidden="true"></i></button>
    <div class="acc">
      <a href="#" class="acc-img">
        <img src="{{ directory }}/images/acc-na.png" alt="">
      </a>
      <div class="acc-opt">
        <a href="#" class="acc-login-link" data-toggle="modal" data-target="#puLoginRegister">Login</a>
        <a href="#" class="acc-register-link" data-toggle="modal" data-target="#puLoginRegister">Register</a>
      </div>
    </div>


    <div class="collapse navbar-collapse" id="mainNavbarContent">
      <a class="navbar-brand" href="index.php"><img src="{{ directory }}/images/parenting-club.png" alt=""></a>
      <button class="navbar-toggler" type="button" id="mainNavbarCloser" data-toggle="collapse" data-target="#mainNavbarContent" aria-controls="mainNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span>&times;</span>
      </button>
      <div class="search hidden-lg-up">
        <form class="searchbox">
          <input type="search" placeholder="Search......" name="search" class="searchbox-input">
          <button class="searchbox-submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>

      <ul id="mainNav">
        <li class="active">
          <a href="#">Prakehamilan</a>
          <ul>
            <li>
              <a href="#">Prakehamilan</a>
            </li>
            <li>
              <a href="#">Persiapan Kehamilan</a>
            </li>
            <li>
              <a href="#">Prakonsepsi</a>
            </li>
            <li>
              <a href="#">Apakah Saya Hamil</a>
            </li>
            <li>
              Tools
            </li>
            <li>
              <a href="#">Smart Ovulation Calendar</a>
            </li>
            <li>
              <a href="#">Smart Nursery Calendar</a>
            </li>
            <li>
              <a href="#">Smart Consultation</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Kehamilan</a>
          <ul>
            <li>
              <a href="#">Prakehamilan</a>
            </li>
            <li>
              <a href="#">Persiapan Kehamilan</a>
            </li>
            <li>
              <a href="#">Prakonsepsi</a>
            </li>
            <li>
              <a href="#">Apakah Saya Hamil</a>
            </li>
            <li class="sub">
              Kehamilan
            </li>
            <li>
              <a href="#">Smart Ovulation Calendar</a>
            </li>
            <li>
              <a href="#">Smart Nursery Calendar</a>
            </li>
            <li>
              <a href="#">Smart Consultation</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Bayi</a>
          <ul>
            <li>
              <a href="#">Prakehamilan</a>
            </li>
            <li>
              <a href="#">Persiapan Kehamilan</a>
            </li>
            <li>
              <a href="#">Prakonsepsi</a>
            </li>
            <li>
              <a href="#">Apakah Saya Hamil</a>
            </li>
            <li class="sub">
              Bayi
            </li>
            <li>
              <a href="#">Smart Ovulation Calendar</a>
            </li>
            <li>
              <a href="#">Smart Nursery Calendar</a>
            </li>
            <li>
              <a href="#">Smart Consultation</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Anak</a>
          <ul>
            <li>
              <a href="#">Anak</a>
            </li>
            <li>
              <a href="#">Persiapan Kehamilan</a>
            </li>
            <li>
              <a href="#">Prakonsepsi</a>
            </li>
            <li>
              <a href="#">Apakah Saya Hamil</a>
            </li>
            <li class="sub">
              Pra-kehamilan
            </li>
            <li>
              <a href="#">Smart Ovulation Calendar</a>
            </li>
            <li>
              <a href="#">Smart Nursery Calendar</a>
            </li>
            <li>
              <a href="#">Smart Consultation</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="acc-info">
        <p>Join parenting club to get all benefit</p>
        <a href="#" class="btn btn-emas acc-register-link" data-toggle="modal" data-target="#puLoginRegister">Register</a>
        <a href="#" class="btn btn-primary acc-login-link" data-toggle="modal" data-target="#puLoginRegister">Sign In</a>
      </div>
      <div class="nav-social">
        <p>Connect with us</p>
        <a href="#" class="btn btn-facebook"><i class="fa-facebook" aria-hidden="true"></i><span class="sr-only">Facebook</span></a>
        <a href="#" class="btn btn-twitter"><i class="fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a>
        <a href="#" class="btn btn-youtube"><i class="fa-youtube" aria-hidden="true"></i><span class="sr-only">Youtube</span></a>
        <a href="#" class="btn btn-instagram"><i class="fa-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span></a>
      </div>
      <div class="search hidden-md-down">

        <form class="searchbox">
          <!-- <select class="bs-search" data-live-search="true" title='<i class="fa fa-search" aria-hidden="true"></i>' data-style="searchbox-submit">
            <option>Hot Dog, Fries and a Soda</option>
            <option>Hot Dog and Potato wedges</option>
            <option>Burger, Shake and a Smile</option>
            <option>Sugar, Spice and all things nice</option>
          </select> -->
          <input type="search" placeholder="Search......" name="search" class="searchbox-input">
          <ul>
            <li>lorem</li>
            <li>ipsum</li>
            <li>dolor</li>
          </ul>
          <button class="searchbox-submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>
    </div>
  </div>
</nav>

<div id="mainContent">
  <div id="mainHero" class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="img">
            <img src="{{ directory }}/images/hero01-m.jpg" alt="" class="hidden-md-up">
            <img src="{{ directory }}/images/hero01-d.jpg" alt="" class="hidden-sm-down">
        </div>
        <div class="txt">
          <div>
            <h2>1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro molestias tempore fugiat quas dicta quasi neque sunt incidunt dignissimos unde eaque, deserunt praesentium et saepe eveniet provident suscipit, est velit.</p>
            <a href="#" class="btn">CTA button <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="img">
            <img src="{{ directory }}/images/hero01-m.jpg" alt="" class="hidden-md-up">
            <img src="{{ directory }}/images/hero01-d.jpg" alt="" class="hidden-sm-down">
        </div>
        <div class="txt txt-right text-grey">
          <div>
            <h2>2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro molestias tempore fugiat quas dicta quasi neque sunt incidunt dignissimos unde eaque, deserunt praesentium et saepe eveniet provident suscipit, est velit.</p>
            <a href="#" class="btn">CTA button <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="img">
            <img src="{{ directory }}/images/hero01-m.jpg" alt="" class="hidden-md-up">
            <img src="{{ directory }}/images/hero01-d.jpg" alt="" class="hidden-sm-down">
        </div>
        <div class="txt text-white">
          <div>
            <h2>3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro molestias tempore fugiat quas dicta quasi neque sunt incidunt dignissimos unde eaque, deserunt praesentium et saepe eveniet provident suscipit, est velit.</p>
            <a href="#" class="btn">CTA button <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-prev"></div>
    <div class="swiper-next"></div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="ms bg-prahamil">
		<div class="container c-inner">
			<h2 class="subtitle"><i class="i mi prahamil"></i>Prakehamilan</h2>

			<a href="#to-article" class="btn-fitur hidden-lg-up">
				<i class="i si cal"></i>
				<div class="txt">
					<small>Fitur Masa Prakehamilan</small>
					<h4 class="a-title">
						Smart Ovulation Calendar<i class="i arrow-1" aria-hidden="true"></i>
					</h4>
				</div>
			</a>

			<div class="row">
				<div class="col-12 col-lg-8">
					<div class="a-hero">
						<a href="#to-article">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="" class="hidden-md-up">
								<img src="{{ directory }}/images/a01-d.jpg" alt="" class="hidden-sm-down">				
							</div>
							<div class="txt">
								<h3 class="a-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ducimus voluptas, odit modi id eum quam sapiente, consequuntur alias, rerum perspiciatis distinctio commodi nihil tempore praesentium, quaerat pariatur quas optio?</h3>
								<i class="i circle-arrow-3"></i>
							</div>
						</a>
					</div>
				</div>
				<div class="col-12 col-lg-4 col-first">
					<a href="#to-article" class="btn-fitur hidden-md-down">
						<i class="i si cal"></i>
						<div class="txt">
							<small>Fitur Masa Prakehamilan</small>
							<h4 class="a-title">
								Smart Ovulation Calendar<i class="i arrow-1" aria-hidden="true"></i>
							</h4>
						</div>
					</a>

					<div class="a-list">
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h4 class="a-title">All element</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h4 class="a-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit at reiciendis soluta repudiandae magni, debitis quaerat eum. Delectus laborum corrupti rerum, quasi et, quisquam! Ipsa, voluptatibus. Maxime, a, libero.</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h3 class="a-title">All element</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
					</div>

					<a href="" class="btn-more">Selengkapnya <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="ms bg-hamil">
		<div class="container c-inner">
			<h2 class="subtitle"><i class="i mi hamil"></i>Kehamilan</h2>

			<a href="#to-article" class="btn-fitur hidden-lg-up">
				<i class="i si cal"></i>
				<div class="txt">
					<small>Fitur Masa Prakehamilan</small>
					<h4 class="a-title">
						Smart Ovulation Calendar<i class="i arrow-1" aria-hidden="true"></i>
					</h4>
				</div>
			</a>

			<div class="row">
				<div class="col-12 col-lg-8">
					<div class="a-hero">
						<a href="#to-article">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="" class="hidden-md-up">
								<img src="{{ directory }}/images/a01-d.jpg" alt="" class="hidden-sm-down">				
							</div>
							<div class="txt">
								<h3 class="a-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ducimus voluptas, odit modi id eum quam sapiente, consequuntur alias, rerum perspiciatis distinctio commodi nihil tempore praesentium, quaerat pariatur quas optio?</h3>
								<i class="i circle-arrow-3"></i>
							</div>
						</a>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<a href="#to-article" class="btn-fitur hidden-md-down">
						<i class="i si cal"></i>
						<div class="txt">
							<small>Fitur Masa Prakehamilan</small>
							<h4 class="a-title">
								Smart Ovulation Calendar<i class="i arrow-1" aria-hidden="true"></i>
							</h4>
						</div>
					</a>

					<div class="a-list">
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h4 class="a-title">All element</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h4 class="a-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit at reiciendis soluta repudiandae magni, debitis quaerat eum. Delectus laborum corrupti rerum, quasi et, quisquam! Ipsa, voluptatibus. Maxime, a, libero.</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h3 class="a-title">All element</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
					</div>

					<a href="" class="btn-more">Selengkapnya <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="ms bg-bayi">
		<div class="container c-inner">
			<h2 class="subtitle"><i class="i mi bayi"></i>Bayi</h2>

			<a href="#to-article" class="btn-fitur hidden-lg-up">
				<i class="i si cal"></i>
				<div class="txt">
					<small>Fitur Masa Prakehamilan</small>
					<h4 class="a-title">
						Smart Ovulation Calendar<i class="i arrow-1" aria-hidden="true"></i>
					</h4>
				</div>
			</a>

			<div class="row">
				<div class="col-12 col-lg-8">
					<div class="a-hero">
						<a href="#to-article">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="" class="hidden-md-up">
								<img src="{{ directory }}/images/a01-d.jpg" alt="" class="hidden-sm-down">				
							</div>
							<div class="txt">
								<h3 class="a-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ducimus voluptas, odit modi id eum quam sapiente, consequuntur alias, rerum perspiciatis distinctio commodi nihil tempore praesentium, quaerat pariatur quas optio?</h3>
								<i class="i circle-arrow-3"></i>
							</div>
						</a>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<a href="#to-article" class="btn-fitur hidden-md-down">
						<i class="i si cal"></i>
						<div class="txt">
							<small>Fitur Masa Prakehamilan</small>
							<h4 class="a-title">
								Smart Ovulation Calendar<i class="i arrow-1" aria-hidden="true"></i>
							</h4>
						</div>
					</a>

					<div class="a-list">
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h4 class="a-title">All element</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h4 class="a-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit at reiciendis soluta repudiandae magni, debitis quaerat eum. Delectus laborum corrupti rerum, quasi et, quisquam! Ipsa, voluptatibus. Maxime, a, libero.</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h3 class="a-title">All element</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
					</div>

					<a href="" class="btn-more">Selengkapnya <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="ms bg-anak">
		<div class="container c-inner">
			<h2 class="subtitle"><i class="i mi anak"></i>Anak</h2>

			<a href="#to-article" class="btn-fitur hidden-lg-up">
				<i class="i si cal"></i>
				<div class="txt">
					<small>Fitur Masa Prakehamilan</small>
					<h4 class="a-title">
						Smart Ovulation Calendar<i class="i arrow-1" aria-hidden="true"></i>
					</h4>
				</div>
			</a>

			<div class="row">
				<div class="col-12 col-lg-8">
					<div class="a-hero">
						<a href="#to-article">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="" class="hidden-md-up">
								<img src="{{ directory }}/images/a01-d.jpg" alt="" class="hidden-sm-down">				
							</div>
							<div class="txt">
								<h3 class="a-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ducimus voluptas, odit modi id eum quam sapiente, consequuntur alias, rerum perspiciatis distinctio commodi nihil tempore praesentium, quaerat pariatur quas optio?</h3>
								<i class="i circle-arrow-3"></i>
							</div>
						</a>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<a href="#to-article" class="btn-fitur hidden-md-down">
						<i class="i si cal"></i>
						<div class="txt">
							<small>Fitur Masa Prakehamilan</small>
							<h4 class="a-title">
								Smart Ovulation Calendar<i class="i arrow-1" aria-hidden="true"></i>
							</h4>
						</div>
					</a>

					<div class="a-list">
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h4 class="a-title">All element</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h4 class="a-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit at reiciendis soluta repudiandae magni, debitis quaerat eum. Delectus laborum corrupti rerum, quasi et, quisquam! Ipsa, voluptatibus. Maxime, a, libero.</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h3 class="a-title">All element</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
					</div>

					<a href="" class="btn-more">Selengkapnya <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="fitpar">
		<div class="container c-inner">
			<h2 class="h1">Fitur Parenting</h2>
			<div class="sw">
				<div class="sw-c swiper-container">
					<div class="sw-w swiper-wrapper">
						<div class="swiper-slide fitur fitur-consultation">
							<a href="https://wyeth.ogilvyoneid.com/smart-consultation">
								<i class="wy wy-consultation"></i>
								<div class="img">
									<img src="https://wyeth.ogilvyoneid.com/uploads/default/files/article_banner/4/smart-consultation_4_smart-consultation-png.png">
								</div>
								<div class="txt">
									<h3 class="a-title">Smart Consultation <i class="i arrow-1" aria-hidden="true"></i></h3>
									<p>Fitur Bayi</p>
								</div>
							</a>
						</div>
						<div class="swiper-slide fitur fitur-ovulation">
							<a href="https://wyeth.ogilvyoneid.com/ovulation-calender">
								<i class="wy wy-ovulation"></i>
								<div class="img">
									<img src="https://wyeth.ogilvyoneid.com/uploads/default/files/article_banner/1/smart-ovulation-calender_1_ovulation-article-png.png">
								</div>
								<div class="txt">
									<h3 class="a-title">Smart Ovulation Calender <i class="i arrow-1" aria-hidden="true"></i></h3>
									<p>Fitur Prakehamilan</p>
								</div>
							</a>
						</div>
						<div class="swiper-slide fitur fitur-duedate">
							<a href="https://wyeth.ogilvyoneid.com/pregnancy-duedate">
								<i class="wy wy-duedate"></i>
								<div class="img">
									<img src="https://wyeth.ogilvyoneid.com/uploads/default/files/article_banner/2/smart-due-date-calender_2_due-date-article-png.png">
								</div>
								<div class="txt">
									<h3 class="a-title">Pregnancy Due Date Calculator <i class="i arrow-1" aria-hidden="true"></i></h3>
									<p>Fitur Kehamilan</p>
								</div>
							</a>
						</div>
						<div class="swiper-slide fitur fitur-babyname">
							<a href="">
								<i class="wy wy-babyname"></i>
								<div class="img">
									<img src="{{ directory }}/images/ch-5.jpg">
								</div>
								<div class="txt">
									<h3 class="a-title">Baby Name Generator <i class="i arrow-1" aria-hidden="true"></i></h3>
									<p>Inspirasi Nama si Kecil</p>
								</div>
							</a>
						</div>
						<div class="swiper-slide fitur fitur-stimulation">
							<a href="https://wyeth.ogilvyoneid.com/smart-strength-finder/21-days-smart-stimulations">
								<i class="wy wy-stimulation"></i>
								<div class="img">
									<img src="https://wyeth.ogilvyoneid.com/uploads/default/files/article_banner/9/smart-stimulation_9_smart-stimulation-png.png">
								</div>
								<div class="txt">
									<h3 class="a-title">Smart Stimulation <i class="i arrow-1" aria-hidden="true"></i></h3>
									<p>Fitur Anak-anak</p>
								</div>
							</a>
						</div>
						<div class="swiper-slide fitur fitur-ssf">
							<a href="https://wyeth.ogilvyoneid.com/smart-strength-finder-tools">
								<i class="wy wy-ssf"></i>
								<div class="img">
									<img src="https://wyeth.ogilvyoneid.com/uploads/default/files/article_banner/3/smart-strength-finder_3_ssf-png.png">
								</div>
								<div class="txt">
									<h3 class="a-title">Smart Strength Finder <i class="i arrow-1" aria-hidden="true"></i></h3>
									<p>Fitur Anak-anak</p>
								</div>
							</a>
						</div>
						<div class="swiper-slide fitur fitur-school">
							<a href="https://wyeth.ogilvyoneid.com/smart-school">
								<i class="wy wy-school"></i>
								<div class="img">
									<img src="https://wyeth.ogilvyoneid.com/uploads/default/files/article_banner/10/smart-school_10_smart-school-jpg.jpg">
								</div>
								<div class="txt">
									<h3 class="a-title">Smart School <i class="i arrow-1" aria-hidden="true"></i></h3>
									<p>Fitur Anak-anak</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-prev i wy-prev" aria-hidden="true"></div>
				<div class="swiper-next i wy-next" aria-hidden="true"></div>	
			</div>
		</div>
	</div>

	<div class="ikutserta">
		<div class="container c-inner">
			<h2 class="h1">Ikut Serta</h2>
			<div class="sw">
				<div class="sw-c swiper-container">
					<div class="sw-w swiper-wrapper">
						<div class="swiper-slide a-hero">
							<a href="">
								<div class="img">
									<img src="{{ directory }}/images/ch-5.jpg">
								</div>
								<div class="txt">
									<h3 class="a-title">Mom Blogger</h3>
									<i class="i circle-arrow-3" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="swiper-slide a-hero">
							<a href="">
								<div class="img">
									<img src="{{ directory }}/images/ch-5.jpg">
								</div>
								<div class="txt">
									<h3 class="a-title">E-Voucher</h3>
									<i class="i circle-arrow-3" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="swiper-slide a-hero">
							<a href="">
								<div class="img">
									<img src="{{ directory }}/images/ch-5.jpg">
								</div>
								<div class="txt">
									<h3 class="a-title">E-Voucher</h3>
									<i class="i circle-arrow-3" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="swiper-slide a-hero">
							<a href="">
								<div class="img">
									<img src="{{ directory }}/images/ch-5.jpg">
								</div>
								<div class="txt">
									<h3 class="a-title">Mom &amp; Jo</h3>
									<i class="i circle-arrow-3" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="swiper-slide a-hero">
							<a href="">
								<div class="img">
									<img src="{{ directory }}/images/ch-5.jpg">
								</div>
								<div class="txt">
									<h3 class="a-title">Event minggu ini</h3>
									<i class="i circle-arrow-3" aria-hidden="true"></i>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-prev i wy-prev" aria-hidden="true"></div>
				<div class="swiper-next i wy-next" aria-hidden="true"></div>	

			</div>
		</div>
	</div>
</div>

<footer id="footerAbout">
	<div class="c-0">
		<div class="container c-inner">
			<div class="txt">
				<h2>Tentang Parenting Club</h2>
				<p>Dalam mendukung tumbuh kembang anak, Anda pasti membutuhkan berbagai informasi penting seputar dunianya. Tak perlu khawatir, kini informasi yang Anda butuhkan sudah terkumpul dalam satu wadah. Yuk jelajahi artikel yang akan membantu Anda mendukung kepintaran si Kecil agar pintarnya beda.</p>				
			</div>
		</div>
	</div>
</footer>

<footer id="mainFooter">
	<div class="container c-inner">
		<nav>
			<a href="pages.php">About Us</a>
			<a href="pages.php">Privacy Policy</a>
			<a href="pages.php">Cookies Policy</a>
			<a href="pages.php">Terms &amp; Conditions</a>
			<a href="pages.php">Contact Us</a>
			<a href="pages.php">Tell Us</a>
		</nav>
		<p>PT Wyeth Nutrition Sduaenam. Wisma Nestle, Perkantoran Hijau Arkadia, Gedung B, Lantai 16 Jalan Let. Jend. TB Simatupang Kav. 88 Jakarta 12520 Indonesia</p>
		<p>&copy; 2015 Wyeth. Powered by : </p>
		<img src="{{ directory }}/images/wyeth-nutrition.png" alt="">
	  <div class="nav-social">
	    <a href="#" class="btn btn-facebook"><i class="fa-facebook" aria-hidden="true"></i><span class="sr-only">Facebook</span></a>
	    <a href="#" class="btn btn-twitter"><i class="fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a>
	    <a href="#" class="btn btn-instagram"><i class="fa-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span></a>
	    <a href="#" class="btn btn-youtube"><i class="fa-youtube" aria-hidden="true"></i><span class="sr-only">Youtube</span></a>
	  </div>		
	</div>
</footer>

<div id="hubungi">
	<a id="hubungi-btn">Hubungi Kami</a>
	<div id="hubungi-txt">
		<a href="#"><img src="{{ directory }}/images/hubungi-kami.png" alt="Hubungi Kami"></a>
		<span class="sr-only">Hubungi Kami. Layanan Bebas Pulsa Senin sampai Sabtu (08.00-17.00) 0800 1821 526.</span>
	</div>
</div>

<a href="#" class="cd-top"><i class="fa fa-fw fa-chevron-up" aria-hidden="true"></i><span class="sr-only">Go to Top</span></a>