{% include '@wyeth_milestone/_navbar.html.twig' %}

<div id="mainContent">
  <div id="mainHero" class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="img">
            <img src="{{ directory }}/images/hero01-m.jpg" alt="" class="hidden-md-up">
            <img src="{{ directory }}/images/hero01-d.jpg" alt="" class="hidden-sm-down">
        </div>
        <div class="txt">
          <div>
            <h2>1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro molestias tempore fugiat quas dicta quasi neque sunt incidunt dignissimos unde eaque, deserunt praesentium et saepe eveniet provident suscipit, est velit.</p>
            <a href="#" class="btn">CTA button <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="img">
            <img src="{{ directory }}/images/hero01-m.jpg" alt="" class="hidden-md-up">
            <img src="{{ directory }}/images/hero01-d.jpg" alt="" class="hidden-sm-down">
        </div>
        <div class="txt txt-right text-grey">
          <div>
            <h2>2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro molestias tempore fugiat quas dicta quasi neque sunt incidunt dignissimos unde eaque, deserunt praesentium et saepe eveniet provident suscipit, est velit.</p>
            <a href="#" class="btn">CTA button <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="img">
            <img src="{{ directory }}/images/hero01-m.jpg" alt="" class="hidden-md-up">
            <img src="{{ directory }}/images/hero01-d.jpg" alt="" class="hidden-sm-down">
        </div>
        <div class="txt text-white">
          <div>
            <h2>3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro molestias tempore fugiat quas dicta quasi neque sunt incidunt dignissimos unde eaque, deserunt praesentium et saepe eveniet provident suscipit, est velit.</p>
            <a href="#" class="btn">CTA button <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-prev"></div>
    <div class="swiper-next"></div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="ms bg-prahamil">
		<div class="container c-inner">
			<h2 class="subtitle"><i class="i mi prahamil"></i>Prakehamilan</h2>

			<a href="#to-article" class="btn-fitur hidden-lg-up">
				<i class="i si cal"></i>
				<div class="txt">
					<small>Fitur Masa Prakehamilan</small>
					<h4 class="a-title">
						Smart Ovulation Calendar<i class="i arrow-1" aria-hidden="true"></i>
					</h4>
				</div>
			</a>

			<div class="row">
				<div class="col-12 col-lg-8">
					<div class="a-hero">
						<a href="#to-article">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="" class="hidden-md-up">
								<img src="{{ directory }}/images/a01-d.jpg" alt="" class="hidden-sm-down">				
							</div>
							<div class="txt">
								<h3 class="a-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ducimus voluptas, odit modi id eum quam sapiente, consequuntur alias, rerum perspiciatis distinctio commodi nihil tempore praesentium, quaerat pariatur quas optio?</h3>
								<i class="i circle-arrow-3"></i>
							</div>
						</a>
					</div>
				</div>
				<div class="col-12 col-lg-4 col-first">
					<a href="#to-article" class="btn-fitur hidden-md-down">
						<i class="i si cal"></i>
						<div class="txt">
							<small>Fitur Masa Prakehamilan</small>
							<h4 class="a-title">
								Smart Ovulation Calendar<i class="i arrow-1" aria-hidden="true"></i>
							</h4>
						</div>
					</a>

					<div class="a-list">
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h4 class="a-title">All element</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h4 class="a-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit at reiciendis soluta repudiandae magni, debitis quaerat eum. Delectus laborum corrupti rerum, quasi et, quisquam! Ipsa, voluptatibus. Maxime, a, libero.</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h3 class="a-title">All element</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
					</div>

					<a href="" class="btn-more">Selengkapnya <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="ms bg-hamil">
		<div class="container c-inner">
			<h2 class="subtitle"><i class="i mi hamil"></i>Kehamilan</h2>

			<a href="#to-article" class="btn-fitur hidden-lg-up">
				<i class="i si cal"></i>
				<div class="txt">
					<small>Fitur Masa Prakehamilan</small>
					<h4 class="a-title">
						Smart Ovulation Calendar<i class="i arrow-1" aria-hidden="true"></i>
					</h4>
				</div>
			</a>

			<div class="row">
				<div class="col-12 col-lg-8">
					<div class="a-hero">
						<a href="#to-article">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="" class="hidden-md-up">
								<img src="{{ directory }}/images/a01-d.jpg" alt="" class="hidden-sm-down">				
							</div>
							<div class="txt">
								<h3 class="a-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ducimus voluptas, odit modi id eum quam sapiente, consequuntur alias, rerum perspiciatis distinctio commodi nihil tempore praesentium, quaerat pariatur quas optio?</h3>
								<i class="i circle-arrow-3"></i>
							</div>
						</a>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<a href="#to-article" class="btn-fitur hidden-md-down">
						<i class="i si cal"></i>
						<div class="txt">
							<small>Fitur Masa Prakehamilan</small>
							<h4 class="a-title">
								Smart Ovulation Calendar<i class="i arrow-1" aria-hidden="true"></i>
							</h4>
						</div>
					</a>

					<div class="a-list">
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h4 class="a-title">All element</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h4 class="a-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit at reiciendis soluta repudiandae magni, debitis quaerat eum. Delectus laborum corrupti rerum, quasi et, quisquam! Ipsa, voluptatibus. Maxime, a, libero.</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h3 class="a-title">All element</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
					</div>

					<a href="" class="btn-more">Selengkapnya <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="ms bg-bayi">
		<div class="container c-inner">
			<h2 class="subtitle"><i class="i mi bayi"></i>Bayi</h2>

			<a href="#to-article" class="btn-fitur hidden-lg-up">
				<i class="i si cal"></i>
				<div class="txt">
					<small>Fitur Masa Prakehamilan</small>
					<h4 class="a-title">
						Smart Ovulation Calendar<i class="i arrow-1" aria-hidden="true"></i>
					</h4>
				</div>
			</a>

			<div class="row">
				<div class="col-12 col-lg-8">
					<div class="a-hero">
						<a href="#to-article">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="" class="hidden-md-up">
								<img src="{{ directory }}/images/a01-d.jpg" alt="" class="hidden-sm-down">				
							</div>
							<div class="txt">
								<h3 class="a-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ducimus voluptas, odit modi id eum quam sapiente, consequuntur alias, rerum perspiciatis distinctio commodi nihil tempore praesentium, quaerat pariatur quas optio?</h3>
								<i class="i circle-arrow-3"></i>
							</div>
						</a>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<a href="#to-article" class="btn-fitur hidden-md-down">
						<i class="i si cal"></i>
						<div class="txt">
							<small>Fitur Masa Prakehamilan</small>
							<h4 class="a-title">
								Smart Ovulation Calendar<i class="i arrow-1" aria-hidden="true"></i>
							</h4>
						</div>
					</a>

					<div class="a-list">
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h4 class="a-title">All element</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h4 class="a-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit at reiciendis soluta repudiandae magni, debitis quaerat eum. Delectus laborum corrupti rerum, quasi et, quisquam! Ipsa, voluptatibus. Maxime, a, libero.</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h3 class="a-title">All element</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
					</div>

					<a href="" class="btn-more">Selengkapnya <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="ms bg-anak">
		<div class="container c-inner">
			<h2 class="subtitle"><i class="i mi anak"></i>Anak</h2>

			<a href="#to-article" class="btn-fitur hidden-lg-up">
				<i class="i si cal"></i>
				<div class="txt">
					<small>Fitur Masa Prakehamilan</small>
					<h4 class="a-title">
						Smart Ovulation Calendar<i class="i arrow-1" aria-hidden="true"></i>
					</h4>
				</div>
			</a>

			<div class="row">
				<div class="col-12 col-lg-8">
					<div class="a-hero">
						<a href="#to-article">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="" class="hidden-md-up">
								<img src="{{ directory }}/images/a01-d.jpg" alt="" class="hidden-sm-down">				
							</div>
							<div class="txt">
								<h3 class="a-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ducimus voluptas, odit modi id eum quam sapiente, consequuntur alias, rerum perspiciatis distinctio commodi nihil tempore praesentium, quaerat pariatur quas optio?</h3>
								<i class="i circle-arrow-3"></i>
							</div>
						</a>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<a href="#to-article" class="btn-fitur hidden-md-down">
						<i class="i si cal"></i>
						<div class="txt">
							<small>Fitur Masa Prakehamilan</small>
							<h4 class="a-title">
								Smart Ovulation Calendar<i class="i arrow-1" aria-hidden="true"></i>
							</h4>
						</div>
					</a>

					<div class="a-list">
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h4 class="a-title">All element</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h4 class="a-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit at reiciendis soluta repudiandae magni, debitis quaerat eum. Delectus laborum corrupti rerum, quasi et, quisquam! Ipsa, voluptatibus. Maxime, a, libero.</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
						<a href="#to-article" class="atc">
							<div class="img">
								<img src="{{ directory }}/images/a01-m.jpg" alt="">
							</div>
							<div class="txt">
								<div>
									<h3 class="a-title">All element</h4>
									<div class="meta-bar">
										<span class="a-cate">Nutrisi</span>
										<span class="a-time">3 jam yang lalu</span>
									</div>
								</div>
								<i class="i arrow-2"></i>
							</div>
						</a>
					</div>

					<a href="" class="btn-more">Selengkapnya <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="fitpar">
		<div class="container c-inner">
			<h2 class="h1">Fitur Parenting</h2>
			<div class="sw">
				<div class="sw-c swiper-container">
					<div class="sw-w swiper-wrapper">
						<div class="swiper-slide fitur fitur-consultation">
							<a href="https://wyeth.ogilvyoneid.com/smart-consultation">
								<i class="wy wy-consultation"></i>
								<div class="img">
									<img src="https://wyeth.ogilvyoneid.com/uploads/default/files/article_banner/4/smart-consultation_4_smart-consultation-png.png">
								</div>
								<div class="txt">
									<h3 class="a-title">Smart Consultation <i class="i arrow-1" aria-hidden="true"></i></h3>
									<p>Fitur Bayi</p>
								</div>
							</a>
						</div>
						<div class="swiper-slide fitur fitur-ovulation">
							<a href="https://wyeth.ogilvyoneid.com/ovulation-calender">
								<i class="wy wy-ovulation"></i>
								<div class="img">
									<img src="https://wyeth.ogilvyoneid.com/uploads/default/files/article_banner/1/smart-ovulation-calender_1_ovulation-article-png.png">
								</div>
								<div class="txt">
									<h3 class="a-title">Smart Ovulation Calender <i class="i arrow-1" aria-hidden="true"></i></h3>
									<p>Fitur Prakehamilan</p>
								</div>
							</a>
						</div>
						<div class="swiper-slide fitur fitur-duedate">
							<a href="https://wyeth.ogilvyoneid.com/pregnancy-duedate">
								<i class="wy wy-duedate"></i>
								<div class="img">
									<img src="https://wyeth.ogilvyoneid.com/uploads/default/files/article_banner/2/smart-due-date-calender_2_due-date-article-png.png">
								</div>
								<div class="txt">
									<h3 class="a-title">Pregnancy Due Date Calculator <i class="i arrow-1" aria-hidden="true"></i></h3>
									<p>Fitur Kehamilan</p>
								</div>
							</a>
						</div>
						<div class="swiper-slide fitur fitur-babyname">
							<a href="">
								<i class="wy wy-babyname"></i>
								<div class="img">
									<img src="{{ directory }}/images/ch-5.jpg">
								</div>
								<div class="txt">
									<h3 class="a-title">Baby Name Generator <i class="i arrow-1" aria-hidden="true"></i></h3>
									<p>Inspirasi Nama si Kecil</p>
								</div>
							</a>
						</div>
						<div class="swiper-slide fitur fitur-stimulation">
							<a href="https://wyeth.ogilvyoneid.com/smart-strength-finder/21-days-smart-stimulations">
								<i class="wy wy-stimulation"></i>
								<div class="img">
									<img src="https://wyeth.ogilvyoneid.com/uploads/default/files/article_banner/9/smart-stimulation_9_smart-stimulation-png.png">
								</div>
								<div class="txt">
									<h3 class="a-title">Smart Stimulation <i class="i arrow-1" aria-hidden="true"></i></h3>
									<p>Fitur Anak-anak</p>
								</div>
							</a>
						</div>
						<div class="swiper-slide fitur fitur-ssf">
							<a href="https://wyeth.ogilvyoneid.com/smart-strength-finder-tools">
								<i class="wy wy-ssf"></i>
								<div class="img">
									<img src="https://wyeth.ogilvyoneid.com/uploads/default/files/article_banner/3/smart-strength-finder_3_ssf-png.png">
								</div>
								<div class="txt">
									<h3 class="a-title">Smart Strength Finder <i class="i arrow-1" aria-hidden="true"></i></h3>
									<p>Fitur Anak-anak</p>
								</div>
							</a>
						</div>
						<div class="swiper-slide fitur fitur-school">
							<a href="https://wyeth.ogilvyoneid.com/smart-school">
								<i class="wy wy-school"></i>
								<div class="img">
									<img src="https://wyeth.ogilvyoneid.com/uploads/default/files/article_banner/10/smart-school_10_smart-school-jpg.jpg">
								</div>
								<div class="txt">
									<h3 class="a-title">Smart School <i class="i arrow-1" aria-hidden="true"></i></h3>
									<p>Fitur Anak-anak</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-prev i wy-prev" aria-hidden="true"></div>
				<div class="swiper-next i wy-next" aria-hidden="true"></div>	
			</div>
		</div>
	</div>

	<div class="ikutserta">
		<div class="container c-inner">
			<h2 class="h1">Ikut Serta</h2>
			<div class="sw">
				<div class="sw-c swiper-container">
					<div class="sw-w swiper-wrapper">
						<div class="swiper-slide a-hero">
							<a href="">
								<div class="img">
									<img src="{{ directory }}/images/ch-5.jpg">
								</div>
								<div class="txt">
									<h3 class="a-title">Mom Blogger</h3>
									<i class="i circle-arrow-3" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="swiper-slide a-hero">
							<a href="">
								<div class="img">
									<img src="{{ directory }}/images/ch-5.jpg">
								</div>
								<div class="txt">
									<h3 class="a-title">E-Voucher</h3>
									<i class="i circle-arrow-3" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="swiper-slide a-hero">
							<a href="">
								<div class="img">
									<img src="{{ directory }}/images/ch-5.jpg">
								</div>
								<div class="txt">
									<h3 class="a-title">E-Voucher</h3>
									<i class="i circle-arrow-3" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="swiper-slide a-hero">
							<a href="">
								<div class="img">
									<img src="{{ directory }}/images/ch-5.jpg">
								</div>
								<div class="txt">
									<h3 class="a-title">Mom &amp; Jo</h3>
									<i class="i circle-arrow-3" aria-hidden="true"></i>
								</div>
							</a>
						</div>
						<div class="swiper-slide a-hero">
							<a href="">
								<div class="img">
									<img src="{{ directory }}/images/ch-5.jpg">
								</div>
								<div class="txt">
									<h3 class="a-title">Event minggu ini</h3>
									<i class="i circle-arrow-3" aria-hidden="true"></i>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-prev i wy-prev" aria-hidden="true"></div>
				<div class="swiper-next i wy-next" aria-hidden="true"></div>	

			</div>
		</div>
	</div>
</div>

{% include '@wyeth_milestone/_footer_about.html.twig' %}
{% include '@wyeth_milestone/_footer_main.html.twig' %}
{% include '@wyeth_milestone/_hubungi.html.twig' %}
